*{
    box-sizing: border-box;
}

body{
    background-color: #E14647;
    margin: 0;
}

h2{
    background-color: #E14647;
    padding: 18px;
    color: #fff;
    text-align: center;
}

.App{
    padding: 30px;
    background-color: #fff;
    width: 80%;
    margin: 150px auto;
    box-shadow: 1px 2px 5px #eee;
}

p{
    width: 50%;
    padding: 50px;
    margin: auto;
    background-color: rgb(248, 197, 205);
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: rgb(126, 5, 5);
}

input{
    background-color: lightgray;
    border-radius: 3px;
    margin-right: 9px;
    width: 79%;
    border: 0;
    padding: 6px 10px;
    color: #5a5a5a;
}

button{
    width: 20%;
    border: 0;
    padding: 6px 0;
    margin: 0;
    outline: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-color: #4dc55b;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin: 15px 0;
}

li span{
    display: inline-block;
    width: 60%;
    color: #6e6e6e;
}

li > button:first-of-type{
    background-color: #6e6e6e;
    color: #fff;
    margin-right: 1%;
    width: 19%;
}

li > button:last-of-type{
    background-color: #d9534f;
    color: #fff;
}

ul >form{
    margin: 15px 0;
}